.carousel {
    display: flex;
}

.sizeImg {
    height: 620px;
    width: 100%;

}

.sizeGif {
    height: 180px;
}


.paragraphMainHome {
    /* color: rgb(255, 255, 255); */
    font-style: normal;
    margin-top: 10px;
    /* font-weight: bold; */
}

.mainHome {
    display: flex;
    flex-direction: column; /* Se você quiser os elementos empilhados verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto dentro do main */
    height: 40vh; /* Opcional: ajusta a altura do main para ocupar 100% da altura da viewport */
    margin: 0 auto; /* Garante que o main tenha margens automáticas */
    padding: 100px; /* Adiciona algum espaço interno */
  }

  .sectionHomeTeam {
    display: flex;
    flex-direction: column; /* Se você quiser os elementos empilhados verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto dentro do main */
    height: 80vh; /* Opcional: ajusta a altura do main para ocupar 100% da altura da viewport */
    margin: 0 auto; /* Garante que o main tenha margens automáticas */
    padding: 10px; /* Adiciona algum espaço interno */
  }

  .sectionHomeServices {
//     display: flex;
//     flex-direction: column; /* Se você quiser os elementos empilhados verticalmente */
//     justify-content: center; /* Centraliza verticalmente */
//     align-items: center; /* Centraliza horizontalmente */
//     text-align: center; /* Centraliza o texto dentro do main */
//     height: 30vh; /* Opcional: ajusta a altura do main para ocupar 100% da altura da viewport */
//     margin: 0 auto; /* Garante que o main tenha margens automáticas */
//     padding: 10px; /* Adiciona algum espaço interno */
//   }

  padding: 20px;
  text-align: center;
}

.service {
  margin: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  text-align: center;
}

.service h3 {
  margin-bottom: 10px;
}

.serviceImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.service p {
  font-size: 0.9em;
  color: #333;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5em;
    color: #000;
    cursor: pointer;
    z-index: 1;
  }
  
  .custom-prev {
    left: 10px;
  }
  
  .custom-next {
    right: 10px;
  }
  
  .custom-arrow:hover {
    color: #f00;
  }
  
  
  .slick-prev, .slick-next {
    display: none !important;
  }

  .equipe {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    gap: 20px; /* Espaço entre as colunas */
  }
  
  .membro {
    flex: 1 1 calc(50% - 20px); /* Duas colunas, ajustando o espaço */
    box-sizing: border-box;
    padding: 10px;
  }
  
  .imgTeam {
    width: 70%;
    height: auto;
  }
  
  .imgAdmTeam {
    width: 75%;
    height: auto;
  }
  
  

.corouselParagraph {
    font-size: 24px;
    color: rgb(192, 243, 8);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.titleHome {
    color: white;
    text-align: center;
}

.showIntroductionHome {
    display: flex;
    width: 100%;
    height: 75px;
    flex-direction: row-reverse;

}

.introductionHome {
    background-color: rgb(0, 0, 0);
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 380px;
    padding: 10px;
    text-align: justify;
}


.introductionHome p {
    color: rgb(41, 41, 41);
    font-weight: 300;

}

.introductionHome:hover,
.introductionHome:active {
    margin-top: 0px;
    padding-top: 2px;
    transition: 350ms;
    transition: background-color 1s;

}

main {
    padding-top: 20px;
    margin-top: 20px;
}

.mainTitle {
    color: white;
    font-style: italic;
    text-align: center;
    font-size: larger;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(13, 13, 14), 0 0 5px rgb(39, 39, 39);

}

main:hover {
    transform: scale(1.01);

}

.mainParagraph {
    padding: 10px 20px 20px 10px;
    background-color: rgb(0, 0, 0);
    font-weight: lighter;
    color: rgb(67, 70, 235);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(13, 13, 14), 0 0 5px rgb(39, 39, 39);
    text-align: center;
}

.informMore {
    padding-top: 340px;
    color: white;
}

.infoMore h2 {
    text-align: center;
}

.imgSetInfo {
    margin-left: 10px;
    width: 48.5%;
    height: 330px;
}

.imgSetInfo:hover {
    transition: transform 1s;
    transform: scale(1.05);
}

.imgInfo {
    display: flex;
    justify-content: start;
}

.textInfoHome {
    display: block;
    width: 100%;
    display: flex;
    padding-left: 20px;
    text-align: justify;
    font-size: 20px;
    font-weight: 100;
    flex-direction: column;

}

.textDivHome {
    width: 48.5%;
    
}

.textDivHome:hover {
    padding: 20px;
    transition: transform 1s;
    transform: scale(1.05);
    background-color: rgb(1, 86, 86);
    height: 380px;
}

@media screen and (max-width: 1200px) {
    
    .introductionHome p{
        font-size: 12px;
    }
    .textInfoHome{
        font-size: 16px;
    }
}

@media screen and (max-width: 818px){
    .showIntroductionHome{
        display: block;
        width: 100%;
        height: 75px;
        flex-direction: column;
    }
    .introductionHome{
        width: 97%;
    }
    .introductionHome p{
        font-size: 18px;
    }
    .informMore{
        width: 99%;
    }
    .infoMore{
        margin-top:1170px;
        display: block;
        flex-direction: column;
        width: 100%;
    }
    .imgInfo {
        display: block;
        justify-content: start;
        width: 100%;
    }
    .imgSetInfo{
        width: 98%;
    }
    .textDivHome{
        width: 98%;
    }
}