.menu-area {
    display: flex;
    position:relative;
    background-color: rgba(3, 3, 3, 0.89);
    height: 100px;
    width: 100%;
    border-bottom:solid ;
}

.nav {
    display: flex;
    position: relative;
    width: 100%;
}

.link:hover{
    background: linear-gradient(135deg, #222222 0%, #23bca8 100%);
}

.linkMenu{
  display: flex;
  position: relative; 
  bottom:75%;
  padding-right: 30px;
  padding-bottom: 20px;
}

.logo{
    display: flex;
    width: 150px;
    padding: 0;    
}

.navbar-brand {
    padding: 0;
    color: #FFF;
    width: 100%;
}

.navbar-brand:hover {
    color: #FFF;
}  

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
 }

.nav-item.active {
    border-bottom: 3px solid #FFF;
}

.menu a{
    display: inline;
    color: #FFF;
    font-weight: 300;
    padding:15px;
    text-decoration: none;
    border-radius:  15px;
}

.hamburger {
    padding-bottom: 10px!important;    
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: relative;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: none;
}
.hamburger:hover {
    background-color: #3f4141;
    border-radius: 25%;
    padding: 10px;
   
}



@media screen and (max-width: 1000px){
    .linkMenu{
        display: none !important;
    }
    .linkMenu a{
        display: none;
    }
    .hamburger{
        display: block;
        position: absolute;
    }
    

}